:root{
    --succes-color: #2ecc71;;
    --error-color: #e74c3c;
}
.update-pass{
    width: 100%;
    height: 100%;
    border: 1px solid #f5f5fa;
    border-radius: 1rem;
    padding-left: 3rem;
    padding-top: 3rem;
    background-color: #ffffff;
}
.update-pass .pb-2 .h2{
    height: 35px;
    font-family: 'lb';
    font-size: 2.4rem;
}
.update-pass-p {
    color: #444343;
    font-family: 'ln';
    line-height: 3rem;
    font-size: 1.8rem;
}
.update-pass hr{
    color: #bfbfbf;
    opacity:0.4;
    margin-top: 0;
    margin-right: 3rem;
}
.form-update-pass{
    margin-top: 2.5rem;
    margin-left: 1.5rem;
}
.form-update-pass .form-update{
    display: flex;
    position: relative;
    margin-bottom:2.5rem;
    line-height: 3rem;
}
.form-update .form-update-lable{
    font-family: 'ln';
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-right: 2rem;
}
.forgot-pass{
    font-family: 'ln';
    text-decoration: none;
    color: #6c757d;
    padding-left: 2rem;
}
.forgot-pass:hover{
    color: #6c757d;
}
.form-update-passnew{
    margin-left: 2.7rem;
}
.form-update-passconfirm{
    margin-left: -1.5rem;
}
.input-update-pass{
    border: 1px solid #ccc;
    border-radius: 1rem;
    height: 4.8rem;
    width: 36rem;
    margin-left: 1rem;
    background-color: #ffffff;
    padding-left: 1rem;
    padding-right: 4rem;
    font-size: 1.8rem;
}
.btn-update-pass{
    color: #fff;
    background-color: #fb5153;
    margin-left: 16.5rem;
    font-family: 'l5';
    font-size: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 1rem 3rem;
}.btn-update-pass:hover{
    
    background-color: #bb2d3b;
    
}
.update-pass-curent{
    color: red;
    margin-top: -1.5rem;
    margin-left:16.5rem;
    margin-bottom: 1.8rem;
    display: none;
}
.form-update .update-pass-hide{
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    opacity: 0.7;
    right: 26rem;
    cursor: pointer;
  
   
}
.hiden{
    display: block;
}
.form-update .update-pass-show{
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    opacity: 0.7;
    right: 26rem;
    cursor: pointer;
   
} 


.update-password-error{
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    margin-left: 16.5rem;
    color: red !important;
}


/* 
 */
